* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #4b4b4b;
}
.btn {
  background-color: #ff6600;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.4s ease;
  color: var(--btn-text-color);
}
.btn:hover {
  background-color: #d35400;
}

h1#categories{
  padding: 20px 0;
}

.menu-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.menu-page h3{
  font-size: 30px;
  user-select: none;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
}
.menu-page h1{
  padding: 30px 20px 10px;
}
/* search form */
/* Styles for the search form */
.search-form{
  margin: 0 auto;
  justify-content: center;
  
}
.search-form input{
  width: 300px;
  padding: 5px;
  font-size: 14px;
  outline:none;
  background-color: #a7a7a7;
  border: none;
  
  box-shadow: 3s inset #555 ;
}
/* search form end */
.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-info {
  padding: 15px;
}

.card-info h2{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-info p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 15px;
}

.card-info .price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.add-to-cart {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #eacca0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #f1be72;
}


/* contact.php */

.contact-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 50px 10px;
  margin: 0px;
}

.query-form {
  height: fit-content;
  margin: 80px 30px;
  padding: 30px 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.query-form h2 {
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.query-form form {
  width: 25vw;
  align-items: center;
  padding: 50px auto;
}

.query-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.query-form input[type="text"],
.query-form input[type="email"],
.query-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.query-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
}

.query-form input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-info {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.contact-info p {
  margin-bottom: 10px;
  color: #333;
}

.contact-info ul {
  margin-top: 0;
  padding-left: 20px;
  list-style-type: none;
}

.contact-info ul li {
  margin-bottom: 5px;
  color: #555;
}

.contact-social-icons {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.contact-social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.contact-social-icons li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.contact-social-icons li a:hover {
  background-color: #555;
}

.contact-social-icons li a .fab {
  font-size: 16px;
}
.map {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.map h1 {
  text-align: center;
  margin: 0;
}
.location {
  align-self: center;
  padding: 10px auto;
}
.location iframe {
  margin-left: 150px;
  /* margin: 0 auto; */
  margin-bottom: 30vh;
}
.location-info {
  margin: 30px auto;
  background-color: #ccc;
}
.location-info h1,
p {
  padding: 10px 0;
  margin: 10px 20px;
}

@media (max-width: 768px) {
  .contact-page {
    flex-direction: column-reverse;
    padding-bottom: -30px;
  }

  .query-form {
    margin-top: 50px;
  }
  .query-form,
  .contact-info {
    width: 85%;
  }
  .query-form form {
    width: 70vw;
  }
  .contact-info {
    margin-top: 45px;
  }
  .map {
    flex-direction: column-reverse;
  }
  .location iframe {
    width: 100vw;
    margin-left: 0;
  }
  .location-info{
    margin-top:200px;
  }
}


/* cart.php */
